.contact-title-footer {
    color: rgb(250, 225, 133);
  }
  
  .footer-icon-facebook:hover {
    color: #92b2f7 !important;
  }
  
  .footer-icon-instagram:hover {
    color: #b9789d !important;
  }
  
  .footer-icon-whatsapp:hover {
    color: #58b878 !important;
  }