.banner {
  height: 8rem;
  width: 100%;
  background-color: var(--banner-background);
}

  @media (max-width: 768px) {
    .banner {
      height: 17.5rem;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.6);
    }
  }